.App {
  text-align: center;
  width: 460px;
    /* background-color: #fafafa; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {box-sizing: border-box}

/* TABS */
.tabCol {
  float: left;
  width: 14%;
  margin-top: 6px;
}

.mainCol {
  float: left;
  width: 84%;
  margin: -10px 5px 8px 0px;
}

.tabTxt {
  margin-bottom: -30px;
  text-align: center;
  transform: rotate(-90deg);
}

.tab {
  background-color: #c4c4c4;
  color: black;
  width: 80%;
  height: 130px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 8px #888888;
  margin-left: 20%;
  margin-bottom: 4px;
}

.activeTab {
  background-color: #faf9f8;
  color: black;
  width: 80%;
  height: 130px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 8px #888888;
  margin-left: 20%;
  margin-bottom: 4px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Change background color of buttons on hover */
/* .tab button:hover {
  background-color: #ddd;
} */