.App {
  text-align: center;
  width: 460px;
}

* {box-sizing: border-box}

/* TABS */
.tabCol {
  float: left;
  width: 12%;
  height: 50%;
}

.mainCol {
  float: left;
  width: 88%;
  margin-top: -12px;
}

.tabTxt {
  margin-bottom: -15px;
  /* vertical-align: center; */
  /* text-align: center; */
  transform: rotate(-90deg);
}

.tab {
  background-color: #c4c4c4;
  color: black;
  width: 100%;
  height: 130px;
  border: none;
  outline: none;
  margin-bottom: 0px;
  border-radius: 0px;
}

.activeTab {
  background-color: white;
  color: black;
  width: 100%;
  height: 130px;
  border-left: 6px solid #1C7399;
  outline: none;
  margin-bottom: 0px;
  border-radius: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
